.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: calc(100vh - 93px);
  background: linear-gradient(180deg, #1f2a63 0%, #17002f 100%);
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 72px;
  font-style: normal;
  line-height: 84px;
  letter-spacing: 4px;
}

.info {
  margin-top: 64px;
  margin-bottom: 64px;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: 37px;
}

.wrapper {
  display: grid;
  margin-top: 128px;
  margin-bottom: 246px;
  margin-left: 157px;
}
