.list {
  display: grid;
  margin-right: 157px;
  margin-left: 157px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  justify-self: center;
  align-self: center;
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  margin-top: 5px;
}

.content {
  display: grid;
  margin-left: 25px;
}

.properties {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 11px;
  margin-top: 12px;
}

.tags {
  margin-top: 11px;
}
